In [2]:
import pandas as pd
df_food = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding ='latin-1')

In [3]:
df_food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df_food.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
df_food.count()

Area Code       60943
Area            60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [20]:
df_food.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [31]:
df_food.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [8]:
df_food.groupby('Y2015')

In [9]:
df_food.groupby('Y2015')['Y2015'].count().head(15)

Y2015
-3161.0    1
-2152.0    1
-1284.0    1
-907.0     1
-887.0     1
-880.0     1
-827.0     1
-709.0     1
-637.0     1
-636.0     1
-574.0     1
-568.0     1
-559.0     2
-549.0     1
-517.0     1
Name: Y2015, dtype: int64

In [16]:
df_food.groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
"Aquatic Animals, Others",47420,966381,1139179,14.55,9.26,6.17,5.92,5.92
Aquatic Plants,51178,1057275,1278386,507.29,631.23,470.21,452.02,452.02
"Aquatic Products, Other",52570,1160712,1320249,519.62,638.42,475.08,456.65,456.65
Bananas,68496,1338880,1894890,53267.31,55046.76,54376.07,53008.82,55549.23
Barley and products,76321,1432410,2243002,25384.66,29153.44,24706.08,26176.98,31253.70
Beans,78001,1476680,2263509,19207.68,20315.77,19037.50,21351.42,20121.14
Beer,65975,1314720,1813728,41879.92,42053.67,42540.48,41962.92,41612.12
"Beverages, Alcoholic",65918,1313052,1807946,3067.16,2818.38,2834.92,3115.24,2979.21
"Beverages, Fermented",65203,1299273,1774758,50536.78,47447.92,45478.53,43958.75,46874.94
Bovine Meat,70033,1431044,1963251,22098.60,22766.42,22411.18,22612.86,23926.30
"Butter, Ghee",60516,1238480,1594919,1249.29,1165.69,1199.87,1116.68,1175.59
Cassava and products,73208,1385004,2081916,405442.57,410235.89,415730.20,401440.17,435862.14
Cephalopods,58593,1233636,1571763,423.03,496.95,503.64,532.14,532.07
Cereals - Excluding Beer,95370,2074170,2976719,851924.06,845669.36,875974.56,905221.25,903280.79
"Cereals, Other",79505,1489320,2326237,18689.11,18912.55,19877.56,20615.95,22125.96
"Citrus, Other",70239,1367122,1954812,14533.46,15188.91,15515.30,15650.97,15804.14
Cloves,53398,1064726,1420590,77.37,77.29,78.27,82.32,82.36
Cocoa Beans and products,70862,1398123,1998287,7166.65,7671.59,7510.86,8638.32,8353.83
Coconut Oil,69418,1330248,1959863,517.56,556.18,549.43,516.99,537.70
Coconuts - Incl Copra,74263,1410560,2104761,6568.33,6646.28,6577.23,6478.91,6526.12
Coffee and products,72724,1433350,2070618,3677.92,3849.99,4115.34,3861.45,4009.65
Cottonseed,44285,841911,1768564,8108.00,7998.00,8093.00,8623.00,8802.00
Cottonseed Oil,67319,1287500,1881106,1379.76,1507.90,1366.75,1403.25,1421.56
Cream,55778,1141088,1421946,237.52,233.37,267.84,228.95,271.61
Crustaceans,64831,1338260,1761859,734.07,732.86,717.30,834.82,833.61
...,...,...,...,...,...,...,...,...
Rye and products,63769,1192110,1788655,284.24,428.14,303.19,306.41,324.35
Sesame seed,71143,1365013,2121769,8044.24,6769.62,7819.98,7955.60,8492.35
Sesameseed Oil,65744,1230183,1814000,609.73,587.58,716.58,663.10,589.79
Sorghum and products,84070,1525908,2456864,86939.64,82725.53,91609.56,85468.93,91504.28
Soyabean Oil,70775,1362630,1986336,9033.32,10381.77,10151.87,10683.31,11422.03
Soyabeans,76891,1456350,2225300,15067.19,16412.47,15920.30,18574.99,24180.95
Spices,70582,1522883,1945922,4421.98,5059.08,6839.95,6801.63,6406.66
"Spices, Other",66306,1296050,1783586,1695.48,2068.57,3692.79,3744.19,3318.96
Starchy Roots,90330,1959318,2763138,792393.91,802578.22,823223.18,825497.34,855955.18
Stimulants,75449,1656774,2186289,13587.83,14180.97,14314.71,15119.56,15214.78
Sugar & Sweeteners,82006,1783217,2435532,78235.83,80214.74,80920.20,86952.63,87663.08
Sugar (Raw Equivalent),70517,1352344,2004572,69295.13,70675.27,71786.18,77413.80,78055.95
Sugar Crops,66146,1445276,2127345,322467.52,317423.30,314772.13,315572.36,326132.77
Sugar beet,33784,616491,1108508,40090.00,47240.00,47244.00,45332.00,44685.00
Sugar cane,59554,1133592,1913174,282380.51,270179.30,267526.12,270238.36,281447.76
Sugar non-centrifugal,18769,307461,526787,236.98,230.85,185.80,204.68,215.68
Sunflower seed,57326,999787,1677799,11136.14,10686.98,6749.09,7545.63,7500.39
Sunflowerseed Oil,70253,1348252,1957077,6126.70,4986.00,4901.51,6432.42,5996.97
Sweet potatoes,74062,1393150,2131142,68785.44,67762.36,69849.89,76488.54,77209.90
"Sweeteners, Other",77144,1464768,2244222,8034.54,8593.45,8277.40,8667.08,8701.86
Tea (including mate),65694,1280610,1759540,2716.24,2627.37,2652.44,2599.72,2834.23
Tomatoes and products,74112,1440954,2117921,68147.92,68981.37,62570.48,61712.96,63750.78
Treenuts,70304,1525888,1962812,6523.47,6939.31,6319.69,6875.08,6886.56
Vegetable Oils,76734,1675550,2228663,59740.35,60659.38,58312.01,67913.02,68401.90
Vegetables,78335,1712866,2295933,256648.34,264068.13,256219.45,259140.62,268337.49
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [13]:
df_food.shape

(60943, 12)

In [21]:
df_food.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [36]:
df_food.groupby('Area').count()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
Angola,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
Benin,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
Botswana,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
Burkina Faso,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373
Cabo Verde,1260,1260,1260,1260,1260,1260,1231,1229,1200,1193,1192
Cameroon,1460,1460,1460,1460,1460,1460,1450,1443,1443,1441,1432
Central African Republic,1344,1344,1344,1344,1344,1344,1300,1296,1314,1262,1308
Chad,1343,1343,1343,1343,1343,1343,1284,1303,1265,1281,1305
Comoros,45,45,45,45,45,45,45,45,45,45,45
Congo,1413,1413,1413,1413,1413,1413,1382,1377,1377,1395,1377
Côte d'Ivoire,1467,1467,1467,1467,1467,1467,1444,1447,1455,1454,1455
Djibouti,1095,1095,1095,1095,1095,1095,1052,1058,1054,1061,1040
Egypt,1488,1488,1488,1488,1488,1488,1461,1473,1470,1458,1468
Eswatini,1284,1284,1284,1284,1284,1284,1265,1240,1255,1251,1231
Ethiopia,1447,1447,1447,1447,1447,1447,1424,1430,1410,1428,1425
Ethiopia PDR,39,39,39,39,39,39,39,39,39,39,39
Gabon,1245,1245,1245,1245,1245,1245,1200,1202,1198,1206,1192
Gambia,1168,1168,1168,1168,1168,1168,1121,1115,1111,1116,1118
Ghana,1354,1354,1354,1354,1354,1354,1337,1333,1330,1333,1337
Guinea,1410,1410,1410,1410,1410,1410,1345,1349,1373,1383,1385
Guinea-Bissau,1128,1128,1128,1128,1128,1128,1044,1040,1054,1076,1091
Kenya,1560,1560,1560,1560,1560,1560,1544,1542,1540,1548,1548
Lesotho,1150,1150,1150,1150,1150,1150,1130,1097,1116,1110,1094
Liberia,1206,1206,1206,1206,1206,1206,1135,1134,1124,1135,1133
Madagascar,1439,1439,1439,1439,1439,1439,1416,1429,1431,1425,1424
Malawi,1447,1447,1447,1447,1447,1447,1416,1400,1394,1411,1410
Mali,1293,1293,1293,1293,1293,1293,1252,1256,1250,1243,1260
Mauritania,1195,1195,1195,1195,1195,1195,1106,1152,1119,1108,1170
Mauritius,1378,1378,1378,1378,1378,1378,1355,1352,1344,1340,1342
Morocco,1393,1393,1393,1393,1393,1393,1354,1381,1378,1369,1368
Mozambique,1427,1427,1427,1427,1427,1427,1396,1394,1401,1406,1400
Namibia,1283,1283,1283,1283,1283,1283,1274,1270,1266,1269,1256
Niger,1403,1403,1403,1403,1403,1403,1357,1367,1355,1365,1368
Nigeria,1474,1474,1474,1474,1474,1474,1470,1458,1460,1457,1456
Rwanda,1426,1426,1426,1426,1426,1426,1400,1378,1400,1397,1403
Sao Tome and Principe,1177,1177,1177,1177,1177,1177,1108,1125,1140,1122,1109
Senegal,1462,1462,1462,1462,1462,1462,1448,1449,1452,1452,1448
Seychelles,68,68,68,68,68,68,68,68,68,68,68
Sierra Leone,1242,1242,1242,1242,1242,1242,1177,1181,1188,1191,1197
South Africa,1399,1399,1399,1399,1399,1399,1394,1395,1395,1395,1396
Sudan,1316,1316,1316,1316,1316,1316,1277,1260,1271,1279,1268
Sudan (former),53,53,53,53,53,53,53,53,53,53,53
Togo,1294,1294,1294,1294,1294,1294,1219,1226,1243,1234,1266
Tunisia,1338,1338,1338,1338,1338,1338,1304,1318,1314,1314,1320
Uganda,1458,1458,1458,1458,1458,1458,1446,1446,1446,1435,1445
United Republic of Tanzania,1419,1419,1419,1419,1419,1419,1401,1405,1403,1409,1408
Zambia,1451,1451,1451,1451,1451,1451,1424,1420,1430,1425,1421
Zimbabwe,1393,1393,1393,1393,1393,1393,1374,1373,1358,1365,1356

In [40]:
df_food['Area'].nunique()

49

In [43]:
df_food['Area', 'Element']

KeyError: ('Area', 'Element')